.hero-image {
    display: block;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('../../../assets/images/hero.jpg');
    position: relative;
    height: 670px;
    background-size: cover;
    background-position: center center;
    @mixin atMedium {
        height: 100vh;
    }
}
