.img-holder {
  display: none;

  @mixin atMedium {
    display: block;
    position: absolute;
    top: 0;
    background-image: url('../../../assets/images/image-holder.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat:   no-repeat;
    width: 50%;
    height: 100%;
  }
}
