.sayings {
  height: 100%;

  &__parallax-bg-element {
    width: 100%;
    height: 100%;
    /*background-image: url('./images/herewhatheysay.jpg');*/
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../../assets/images/herewhatheysay.jpg');
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  &__infos {
    padding-top: 150px;
    padding-bottom:150px;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.3rem;

    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

  &__header {
    color: #FFF;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 1px;

    @mixin atSmall {
      font-size: 2.8125rem;
    }
  }

  &__underline {
    margin: 0 auto;
    height: 0;
    width: 50px;
    border-bottom: 1px solid $btnColor;
  }

  &__descriptions {
    height: 200px;
    padding-top: 20px;
    position: relative;

    @mixin atSmall {
      height: 120px;
    }
  }

  &__mySlides {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @mixin atSmall {
      width: 80%;
    }

    @mixin atMedium {
      width: 50%;
    }

    h3 {
      color: #FFF;
      font-weight: 100;
      font-size: 1.25rem;

      @mixin atSmall {
        font-size: 1.6rem;
      }
    }
    p {
      font-size: 0.9rem;

      @mixin atSmall {
        font-size: 1.2rem;
      }
    }
  }
}
