.skills {
  flex-basis: 100%;
  padding: 80px 50px;
  text-align: center;
  transition: background-color.3s ease-out;

  @mixin atSmall {
    flex-basis: 50%;
    border: 1px dotted white;
  }

  &__icon {
    color: $mainBlue;
    font-size: 3.5rem !important;
  }

  &__title {
    font-size: 0.85rem;
    color: $mainBlue;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 6px;

    @mixin atSmall {
      font-size: 1.2rem;
    }
  }

  &__description {
    color: $mainBlue;
    font-weight: 100;
    line-height: 150%;
    padding-top: 10px;

    @mixin atSmall {
      font-size: 1.3rem;
    }

    @mixin atMedium {
      font-size: 1.1rem;
    }
  }

  &--hover-color{
    color: #FFF;
  }

  &--change-background-color{
    background-color: $btnColor;
    transition: background-color.3s ease-out;
  }
}
