.underline {
  height: 0;
  width: 180px;
  border-bottom: 3px solid $btnColor;

  &--shorter {
    width: 15%;
    color: $mainBlue;
    transition: width .5s ease-out;
  }

  &--hover-width {
    width: 45%;
    transition: width .5s ease-out;
  }
}
