.wrapper {
  overflow: hidden;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  @mixin atMedium {
    &--with-padding {
      padding-bottom: 10%;
      padding-top: 10%;
    }
  }

  &--footer {
    padding-bottom: 5%;

    @mixin atMedium {
      padding-top: 2%;
      padding-bottom: 2%;
    }
  }
}
